@import "tailwindcss";

@theme {
  --color-black-text: rgb(48, 49, 53);
}


:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-green-gradient{
  background: linear-gradient(90deg,rgba(57, 155, 42, 1) 0%, rgba(136, 199, 87, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
